<link rel="stylesheet" type="text/css" href="../../public/css/landing.css">

<div class="box fade-in one">
  <img class ="box fad-in one" src="http://i.imgur.com/R09DQkJ.png">
</div>

<form action='/service_needed' method='POST'>
  <select class="bar fade-in two" name='service_needed'>
    <option value='placeholder'>Please choose...</option>
    <option value="food">Food</option>
    <option value="health_care">Health Care</option>
    <option value="shelter">Shelter</option>
  </select>
   <div class="submit-text fade-in two">
  <input type=submit value='Submit'>
  </div>
</form>
