<link rel="stylesheet" type="text/css" href="../../public/css/landing.css">

<div class="box fade-in one">
  <img src="http://i.imgur.com/R09DQkJ.png">
</div>

<form action='/service_needed' method='POST'>
  <select class="bar fade-in two" name='service_needed'>
    <option value='placeholder'>Please choose...</option>
    <option value="food">Food</option>
    <option value="health_care">Health Care</option>
    <option value="shelter">Shelter</option>
  </select>
  <input type=submit value='Submit'>
</form>
